body {
	width: 500px;
}

section {
	padding: 10px;

	&:not(:first-child) {
		border-top: 1px solid lightgrey;
	}

	&#settings_section {
		&.form_active {
			form#settings_form {
				input[type="submit"],
				input#settings_form_cancel_button[type="button"] {
					display: inline;
				}

				input#edit_settings_button[type="button"] {
					display: none;
				}
			}
		}

		form#settings_form {
			label {
				margin-right: 8px;

				input,
				span {
					vertical-align: middle;
				}
			}

			input[type="submit"],
			input#settings_form_cancel_button[type="button"] {
				display: none;
			}
		}
	}

	&#patient_details_section {
		&.form_active {
			div#patients_container,
			button#add_patient_details_button {
				display: none;
			}

			form#new_patient_details_form {
				display: block;
			}
		}

		div#patients_container button.patient_details_button.active {
			background: lightgreen;
		}

		form#new_patient_details_form {
			display: none;

			input,
			select {
				padding: 3px 6px;
				margin: 2px;
			}
		}
	}

	h5 {
		margin-top: 0;
	}

	button {
		border-width: 1px;
		border-radius: 3px;
		margin: 2px;
		padding: 3px 6px;
	}
}
